div.userNameDisp{
  color:blue
}
html{
  background-image: url(background.png);
  background-repeat: repeat-x;
}
.container{
  background-color:whitesmoke;
  overflow: auto;
}
.userTextDisp{
  color: black
}